@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  background-color: #f1f3fb;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 10vh 30vw;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 #99999925;
  padding: 1rem 1.5rem;
}

.card h1 {
  margin-top: 0.5rem;
}

form,
.files {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
}

form input:not([type="file"]),
form textarea {
  font-size: large;
  border: none;
  background-color: rgb(245, 245, 245);
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
}

.upload-button {
  padding: 0.5rem;
  border-radius: 4px;
  font-size: xx-large;
}

.upload-button input {
  display: none;
}

.upload-button:is(:hover, :focus) {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  outline: 2px dashed #6658d3;
}

form input[type="file"]::-webkit-file-upload-button {
  display: none;
}

button[type="submit"] {
  font-size: 1.25rem;
  padding: 0.75rem;
  font-weight: 500;
  background-color: #6658d3;
  border-radius: 6px;
  color: #fff;
  border: none;
}

/* .file {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.file .remove:hover {
  opacity: 0.7;
  cursor: pointer;
} */
