/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  background-color: #f1f3fb;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 10vh 20vw;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 #99999925;
  padding: 1rem 1.5rem;
}

.card h1 {
  margin-top: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
}

form input:not([type="file"]),
form div[role="textbox"],
form textarea {
  font-size: large;
  border: none;
  background-color: rgb(245, 245, 245);
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
}

.file-button {
  padding: 0.75rem;
  border: 2px dashed #6658d3;
  border-radius: 4px;
}

.file-button:is(:hover, :focus) {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

form textarea {
  resize: vertical;
  font: inherit;
}

button[type="submit"] {
  font-size: 1.25rem;
  padding: 0.75rem;
  font-weight: 500;
  background-color: #6658d3;
  border-radius: 6px;
  color: #fff;
  border: none;
}
