
.popup {
    max-width: 300px;
}

.popup:is(:hover, :focus) {
    opacity: 0.5;
    cursor: pointer;
}

.popup * {
  margin: 0;
  padding: 0;
}
.popup__container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.popup__content {
  background-color: lightgreen;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template:
    "img h4" auto
    "img p" auto
    / 25px auto;
  gap: 0 1rem;
  color: #fff;
}

.popup img {
  grid-area: img;
  max-width: 100%;
  place-self: center;
}

.popup .timer {
  --color: darkgreen;
  margin: 0;
  margin-top: -4px;
  background-color: darkgreen;
  height: 4px;
}

.popup h4 {
  grid-area: h4;
}

.popup p {
  grid-area: p;
}

.popup.error .popup__content {
  background-color: #aa0000;
}

.popup.error .timer {
  background-color: #d34848;
  border-color: #aa0000;
}
